* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.card {
    max-width: 384px;
    background: hsl(0, 0%, 12%);
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    max-height: 90vh;
}

.card_article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.card_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.navig {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.images {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    display: block;
    object-fit: cover;
}

.title_one {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 24px;
}

.title_two {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.text {
    color: hsl(0, 0%, 60%);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 8px;
}

.nav {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 700;
    border: none;

}

.nav:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
    outline: none;
}

/* АДАПТИВ */
@media (max-width: 375px) {
    .card {
        width: 327px;
        padding: 24px;
    }

    .title_one {
        font-size: 20px;
    }
    
    .text {
        font-size: 13px;
    }
    
    .nav {
        padding: 12px 0;
        font-size: 13px;
    }
}